# Ecommerce Purchases Exercise Overview

Hi Guys,<br>
After a crash course on pandas for data analysis, its time to do some practice!!!<br>
Because of privacy issues, I have created a fake dataset here with 30K entries. <br>
The situation is, customers are providing some personal information while purchasing stuff on-line or in-store. For some reasons, your client wants to know the answer to some of his questions from the dataset, let's try to help him!.<br>

*Feel free to consult the solutions if needed. Please note, the tasks given in the exercises, can be solved in different ways. Try your best answer and compare with the solutions.* <br>
&#9758; The dataset is provided in the course downloads.

**1. Import Pandas and Read the csv file.**

In [1]:
import pandas as pd
import numpy as np

In [ ]:
#load file
from google.colab import files
files.upload()

**2. Its good idea to see how the data look like, display first 5 rows of your data-set.**

In [5]:
# Code here please
pay = pd.read_csv('Cust_Purch_Data.csv', encoding='utf-8')

In [6]:
pay.head(5)

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045

**3. How many entries your data have?
Can you tell the no. of columns in your data?**

In [7]:
# Code here please
pay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   prefix      30000 non-null  object
 1   first       30000 non-null  object
 2   last        30000 non-null  object
 3   email       30000 non-null  object
 4   gender      30000 non-null  object
 5   age         30000 non-null  int64
 6   company     30000 non-null  object
 7   profession  30000 non-null  object
 8   phone       30000 non-null  object
 9   postal      30000 non-null  object
 10  province    30000 non-null  object
 11  cc_no       30000 non-null  int64
 12  cc_exp      30000 non-null  object
 13  cc_type     30000 non-null  object
 14  price(CAD)  30000 non-null  float64
 15  fav_color   30000 non-null  object
 16  ip          30000 non-null  object
 17  weekday     30000 non-null  object
 18  ampm        30000 non-null  object
 19  date        30000 non-null  object
dtypes: float64(1), int64(2), object(17)
memory usage: 4.6+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
prefix        30000 non-null object
first         30000 non-null object
last          30000 non-null object
email         30000 non-null object
gender        30000 non-null object
age           30000 non-null int64
company       30000 non-null object
profession    30000 non-null object
phone         30000 non-null object
postal        30000 non-null object
province      30000 non-null object
cc_no         30000 non-null int64
cc_exp        30000 non-null object
cc_type       30000 non-null object
price(CAD)    30000 non-null float64
fav_color     30000 non-null object
ip            30000 non-null object
weekday       30000 non-null object
ampm          30000 non-null object
date          30000 non-null object
dtypes: float64(1), int64(2), object(17)
memory usage: 4.6+ MB

**4. What are the max and min ages of your customer? Can you find mean of your customer?**

In [9]:
# Code here please
print('Max. age of the customer is:  ', pay['age'].max())
print('Max. age of the customer is:  ', pay['age'].min())
print('Avg. age of the customer is:  ', pay['age'].mean())

Max. age of the customer is:   65
Max. age of the customer is:   18
Avg. age of the customer is:   41.550066666666666

Max. age of the customer is:  65
Max. age of the customer is:  18
Avg. age of the customer is:  41.550066666666666

**5. What are the three most common customer's names?**<br>
&#9989; [<code>**value_counts()**</code>](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) returns object containing counts of unique values. The resulting object will be in descending order so that the first element is the most frequently-occurring element. Excludes NA values by default.

In [97]:
# Code here please
# Count occurrences of each first name
common_names = pay['first'].value_counts().head(3)
# Change the name of the series to 'first' to match the desired output
common_names.name = 'first'
# Print the result
print(common_names)

first
Willie     130
Francis    124
Eula        86
Name: first, dtype: int64

Willie     130
Francis    124
Eula        86
Name: first, dtype: int64

**6. Two customers have the same phone number, can you find those customers**?

In [98]:
# Code here please
# Count occurrences of each phone number
duplicate_phones = pay['phone'].value_counts().head(2)
duplicate_phones.name = 'phone'
# Print the result in the required format
print(duplicate_phones.head(2))

phone
(263) 382-8004    2
(712) 247-7037    1
Name: phone, dtype: int64

In [ ]:
# lets find what phone number is twice!

(263) 382-8004    2
(668) 836-2738    1
Name: phone, dtype: int64

In [37]:
# Code here please
# Ensure 'phone' column is in string format
pay['phone'] = pay['phone'].astype(str)

# Find duplicate phone numbers
pay[pay.duplicated('phone', keep=False)]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
15,Mrs.,Lilly,Tyler,kofadu@itohi.tf,Female,38,CSX Corp.,Structural Engineer,(263) 382-8004,V7K 1E3,ON,30000000000000,11/2022,Diners Club Carte Blanche,9.61,Yellow,74.124.37.227,Saturday,am,03/30/1985
16,Mrs.,Peter,Cain,megkosig@anazeor.gn,Male,27,Campbell Soup Co.,Insurance Adjuster,(263) 382-8004,E8T 2B4,YT,3530000000000000,03/2024,Solo,13.74,Black,25.207.141.135,Tuesday,am,08/05/1950

In [ ]:
# Now we know the phone number, let's find out the other stuff!

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
15,Mrs.,Lilly,Tyler,kofadu@itohi.tf,Female,38,CSX Corp.,Structural Engineer,(263) 382-8004,V7K 1E3,ON,30000000000000,11/2022,Diners Club Carte Blanche,9.61,Yellow,74.124.37.227,Saturday,am,03/30/1985
16,Mrs.,Peter,Cain,megkosig@anazeor.gn,Male,27,Campbell Soup Co.,Insurance Adjuster,(263) 382-8004,E8T 2B4,YT,3530000000000000,03/2024,Solo,13.74,Black,25.207.141.135,Tuesday,am,08/05/1950

**7. How many customers have profession "Structural Engineer"?**

In [41]:
# Code here please
# Filter the customers with profession "Structural Engineer"
structural_engineers = pay[pay['profession'] == 'Structural Engineer']

# Get the count of each column for these customers
count_columns = structural_engineers.count()

# Display the count for each column
print(count_columns)

prefix        87
first         87
last          87
email         87
gender        87
age           87
company       87
profession    87
phone         87
postal        87
province      87
cc_no         87
cc_exp        87
cc_type       87
price(CAD)    87
fav_color     87
ip            87
weekday       87
ampm          87
date          87
dtype: int64

prefix        87
first         87
last          87
email         87
gender        87
age           87
company       87
profession    87
phone         87
postal        87
province      87
cc_no         87
cc_exp        87
cc_type       87
price(CAD)    87
fav_color     87
ip            87
weekday       87
ampm          87
date          87
dtype: int64

**8. How many male customers are 'Structural Engineer'?**

In [43]:
# Code here please
# Filter for male customers with profession "Structural Engineer"
male_structural_engineers = pay[(pay['profession'] == 'Structural Engineer') & (pay['gender'] == 'Male')]

# Get the count of each column for these customers
count_columns = male_structural_engineers.count()

# Display the count for each column
print(count_columns)

prefix        43
first         43
last          43
email         43
gender        43
age           43
company       43
profession    43
phone         43
postal        43
province      43
cc_no         43
cc_exp        43
cc_type       43
price(CAD)    43
fav_color     43
ip            43
weekday       43
ampm          43
date          43
dtype: int64

prefix        43
first         43
last          43
email         43
gender        43
age           43
company       43
profession    43
phone         43
postal        43
province      43
cc_no         43
cc_exp        43
cc_type       43
price(CAD)    43
fav_color     43
ip            43
weekday       43
ampm          43
date          43
dtype: int64

**9. Find out the female Structural Engineers from province Alberta (AB)?**

In [45]:
# Code here please
# Filter for female Structural Engineers from Alberta (AB)
pay[(pay['profession'] == 'Structural Engineer') & (pay['gender'] == 'Female') & (pay['province'] == 'AB')]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
8858,Dr.,Roy,Stanley,apiunvo@ehasom.ir,Female,39,Cincinnati Financial Corp.,Structural Engineer,(876) 758-2929,N5A 6L2,AB,6300000000000000,02/2022,InstaPayment,31.86,Red,165.249.159.57,Sunday,pm,12/25/1903
9058,Mr.,Lora,Kennedy,dennap@rabac.se,Female,51,BJ Services Company,Structural Engineer,(305) 786-6959,N3R 4B7,AB,201000000000000,06/2019,Diners Club United States & Canada,53.29,Black,42.216.243.206,Thursday,pm,06/06/2028
24736,Mrs.,Nell,Richards,dob@me.ki,Female,18,Telephone & Data Systems Inc,Structural Engineer,(262) 681-5018,N3Y 3G2,AB,347000000000000,07/2028,American Express,76.28,Blue,91.16.30.156,Wednesday,pm,07/14/1951
29865,Mrs.,Don,McDaniel,naf@zudu.bj,Female,37,Anadarko Petroleum Corporation,Structural Engineer,(238) 789-2825,B4A 8Q9,AB,5610000000000000,12/2022,Mastercard,62.71,Blue,162.233.117.142,Sunday,pm,11/03/1989

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
8858,Dr.,Roy,Stanley,apiunvo@ehasom.ir,Female,39,Cincinnati Financial Corp.,Structural Engineer,(876) 758-2929,N5A 6L2,AB,6300000000000000,02/2022,InstaPayment,31.86,Red,165.249.159.57,Sunday,pm,12/25/1903
9058,Mr.,Lora,Kennedy,dennap@rabac.se,Female,51,BJ Services Company,Structural Engineer,(305) 786-6959,N3R 4B7,AB,201000000000000,06/2019,Diners Club United States & Canada,53.29,Black,42.216.243.206,Thursday,pm,06/06/2028
24736,Mrs.,Nell,Richards,dob@me.ki,Female,18,Telephone & Data Systems Inc,Structural Engineer,(262) 681-5018,N3Y 3G2,AB,347000000000000,07/2028,American Express,76.28,Blue,91.16.30.156,Wednesday,pm,07/14/1951
29865,Mrs.,Don,McDaniel,naf@zudu.bj,Female,37,Anadarko Petroleum Corporation,Structural Engineer,(238) 789-2825,B4A 8Q9,AB,5610000000000000,12/2022,Mastercard,62.71,Blue,162.233.117.142,Sunday,pm,11/03/1989

**10. What is the max, min and average spending?**

In [46]:
# Code here please
print('Max. spending:  ', pay['price(CAD)'].astype(float).max())
print('Mai. spending:  ', pay['price(CAD)'].astype(float).min())
print('Avg. spending:  ', pay['price(CAD)'].astype(float).mean())

Max. spending:   100.0
Mai. spending:   0.0
Avg. spending:   49.990775

Max. spending:  100.0
Mai. spending:  0.0
Avg. spending:  49.990775000000184

**11. Who did not spend anything? Company wants to send a deal to encourage the customer to buy stuff!**

In [47]:
# Code here please
pay[pay['price(CAD)'] == 0]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
5320,Dr.,Bruce,Bryan,ru@pubuspuh.cl,Male,59,Wal-Mart Stores Inc,Engineer Technician,(709) 446-8317,H6H 3Y0,NU,201000000000000,04/2024,Bankcard,0.0,White,82.70.62.64,Wednesday,am,12/11/1900
10597,Mrs.,Flora,Clark,wad@me.com,Female,27,MetLife Inc.,Cruise Director,(775) 373-6590,B2U 8K6,NB,30100000000000,05/2020,Diners Club Carte Blanche,0.0,Red,231.156.15.63,Thursday,pm,08/22/1904

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
5320,Dr.,Bruce,Bryan,ru@pubuspuh.cl,Male,59,Wal-Mart Stores Inc,Engineer Technician,(709) 446-8317,H6H 3Y0,NU,201000000000000,04/2024,Bankcard,0.0,White,82.70.62.64,Wednesday,am,12/11/1900
10597,Mrs.,Flora,Clark,wad@me.com,Female,27,MetLife Inc.,Cruise Director,(775) 373-6590,B2U 8K6,NB,30100000000000,05/2020,Diners Club Carte Blanche,0.0,Red,231.156.15.63,Thursday,pm,08/22/1904

**12. As a loyalty reward, company wants to send thanks coupon to those who spent 100CAD or more, please find out the customers?**

In [48]:
# Code here please
pay[pay['price(CAD)'] >= 100]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063
21093,Mrs.,Cody,Christensen,get@jovu.ag,Male,28,National City Corp.,Hospital Administrator,(261) 737-3292,X0S 1O5,PE,201000000000000,03/2024,JCB,100.0,Green,168.48.19.165,Wednesday,pm,03/28/1955
24385,Miss,Lizzie,Dixon,goh@tuwjaz.gd,Female,38,FleetBoston Financial Co.,Compensation Analyst,(989) 239-1752,V8X 9V6,NB,6300000000000000,07/2019,Bankcard,100.0,Blue,140.87.99.78,Saturday,pm,03/03/1983

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063
21093,Mrs.,Cody,Christensen,get@jovu.ag,Male,28,National City Corp.,Hospital Administrator,(261) 737-3292,X0S 1O5,PE,201000000000000,03/2024,JCB,100.0,Green,168.48.19.165,Wednesday,pm,03/28/1955
24385,Miss,Lizzie,Dixon,goh@tuwjaz.gd,Female,38,FleetBoston Financial Co.,Compensation Analyst,(989) 239-1752,V8X 9V6,NB,6300000000000000,07/2019,Bankcard,100.0,Blue,140.87.99.78,Saturday,pm,03/03/1983

**13. How many emails are associated with this credit card number '5020000000000230'?**

In [53]:
# Code here please
# Ensure the 'cc_no' column is treated as a string
pay['cc_no'] = pay['cc_no'].astype(str)

# Remove any extra spaces in the credit card numbers
pay['cc_no'] = pay['cc_no'].str.strip()

# Filter for customers with the specified credit card number
emails_with_cc = pay[pay['cc_no'] == '5020000000000230']['email']

# Display the result
print(emails_with_cc)

0    sebvajom@kol.km
1      acu@jatsot.ug
Name: email, dtype: object

0    sebvajom@kol.km
1      acu@jatsot.ug
Name: email, dtype: object

**14. We need to send new cards to the customers well before the expire, how many cards are expiring in 2019?**<br>
*Use `sum()` and `count()` and see the difference in their use :)*

In [56]:
# Code here please
# Specify the date format for 'cc_exp' column and convert it to datetime
pay['cc_exp'] = pd.to_datetime(pay['cc_exp'], format='%m/%d/%Y', errors='coerce')

# Filter the rows where the expiration year is 2019
expiring_in_2019 = pay[pay['cc_exp'].dt.year == 2019]

# Use count() to get the number of rows with expiration in 2019
count_expiring_2019 = expiring_in_2019['cc_exp'].count()

# Alternatively, use sum() to check if there is any non-null data
sum_expiring_2019 = (pay['cc_exp'].dt.year == 2019).sum()

print("Cards expiring in 2019 (count):", count_expiring_2019)
print("Cards expiring in 2019 (sum):", sum_expiring_2019)

Cards expiring in 2019 (count): 2684
Cards expiring in 2019 (sum): 2684

In [ ]:
#cust[cust['cc_exp'].apply(lambda x: x[5:]) == '19'].count()

2684

**15. How many people use Visa as their Credit Card Provider?**

In [57]:
# Code here please
pay[pay['cc_type'] == 'Visa']['cc_type'].count()

1721

1721

**16. Can you find the customer who spent 100 CAD using Visa?**

In [58]:
# Code here please
# Filter the rows where 'cc_type' is 'Visa' and 'price(CAD)' is 100
pay[(pay['cc_type'] == 'Visa') & (pay['price(CAD)'] == 100)]

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,2018-04-01,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
76,Mrs.,Gregory,Brown,hav@jek.gs,Female,31,"E*Trade Group, Inc.",Novelist,(625) 537-8923,X3S 4Q2,PE,6010000000000000,04/2018,Visa,100.0,Green,212.100.18.95,Monday,am,10/23/2063

**17. What are two most common professions?**

In [61]:
# Code here please
# Get the two most common professions and set the name to 'profession'
top_professions = pay['profession'].value_counts().head(2)
top_professions.name = 'profession'

# Display the result
print(top_professions)

profession
Preschool Teacher       112
Distribution Manager    107
Name: profession, dtype: int64

Preschool Teacher       112
Distribution Manager    107
Name: profession, dtype: int64

**18. Can you tell the top 5 most popular email providers? (e.g. gmail.com, yahoo.com, etc...)**

In [63]:
# Code here please
# Extract the domain from the 'email' column
pay['email_domain'] = pay['email'].str.split('@').str[1]

# Get the top 5 most popular email providers
top_email_providers = pay['email_domain'].value_counts().head(5)

# Set the name of the series to 'email'
top_email_providers.name = 'email'

# Display the result
print(top_email_providers)

email_domain
gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: email, dtype: int64

gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: email, dtype: int64

**19. Is there any customer who is using email with "am.edu"?**<br>
Hint: Use `lambda` expression in `apply()`. split the email address at `@`.

In [96]:
# Code here please
pay[pay['email'].str.contains('am.edu', na=False)]

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,email_domain
150,Miss,Loretta,Fletcher,barit@am.edu,Female,48,York International Corp,Rehabilitation Counselor,(323) 279-8038,E5X 8L0,...,6330000000000000,2021-05-01,Diners Club United States & Canada,97.26,White,147.57.240.225,Monday,am,11/07/2066,am.edu

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
150,Miss,Loretta,Fletcher,barit@am.edu,Female,48,York International Corp,Rehabilitation Counselor,(323) 279-8038,E5X 8L0,QC,6330000000000000,05/2021,Diners Club United States & Canada,97.26,White,147.57.240.225,Monday,am,11/07/2066

**20. Which day of the week, the store gets more customers?**

In [77]:
# Code here please

# Get the count of customers for each day of the week
day_of_week_counts = pay['weekday'].value_counts()

# Select the top 5 days with the most customers
top_5_days = day_of_week_counts.head(5)

# Set the name of the series to 'weekday' to match the column name
top_5_days.name = 'weekday'

# Display the result including 'Name: weekday, dtype: int64'
print(top_5_days)

weekday
Saturday     4376
Wednesday    4365
Thursday     4327
Friday       4316
Monday       4216
Name: weekday, dtype: int64

Saturday     4376
Wednesday    4365
Thursday     4327
Friday       4316
Monday       4216
Name: weekday, dtype: int64

# Excellent work!